{% load humanize %}
<div class="media action-item">
  <div class="img-circle pull-left anchor text-center">
    <a href="{% url 'users:profile_modal' action.actor.username %}" data-toggle="modal" data-target="#userModal"  data-modal-is-remote="true" class="new-user">
      {% include 'partials/avatar_initials.html' with object=action.actor size=35 title=action.objects.get_name_display %}
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <a href="{% url 'users:profile_modal' action.actor.username %}" data-toggle="modal" data-target="#userModal">{{ action.actor }}</a> {{ action.verb_object.past_tense }} <a href="{{ action.item.get_absolute_url }}"><b>{{ action.item }}</b></a>.
    </h5>
    <div class="media-description"><small>{{ action.published|naturaltime }}</small></div>
  </div>
</div>
